*{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
.footer{
    padding: 10px;
    height: 50px;
    color: white;
    font-size: 22px;
    background-image: linear-gradient(to right, rgb(126, 79, 9) , rgb(216, 151, 29));
}
.lista{
    background-image: linear-gradient(to right, rgb(126, 79, 9) , rgb(216, 151, 29));
    margin-top: 40px; 
    margin: 15px;
    border-radius: 10px;
}
.fondo{
    --ion-background-color: linear-gradient(to right, rgb(126, 79, 9) , rgb(216, 151, 29));
}
.itemLista{
   
    --ion-background-color: linear-gradient(to right, rgb(248, 220, 128) , rgb(243, 241, 236));
}