#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
.recuperar{
  padding: 10px;
  text-align: center;
  background-color: #1d1a31 !important; 
  color: #ffcf40;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.fondo{
  margin: 10px;
  padding: 10px;
  height: 80%;
  border-radius: 6px;
  background-image: linear-gradient(to right, rgb(126, 79, 9) , rgb(216, 151, 29));
}

.fondoContent{
    --ion-background-color: rgb(245, 218, 145);
}

.itemColor{
  background-color: green;
}

.input{
  margin-left: 5px;
  opacity: 0.6;
  color: black;
  font-weight: bold;
  background-color: rgb(243, 216, 140);
}