<app-header></app-header>
 <ion-content  class="fondoContent">
    <div class="fondo">
      <ion-img src="assets/menu/perfil.png" style="width: 30%; margin: auto;"></ion-img>
      <form [formGroup]="formLogin">
        <ion-grid>
          <ion-row>
            <ion-col>    
              <ion-item>
                
                <ion-icon style="color:rgb(63, 62, 62) ;"  name="person" slot="start"></ion-icon>
                <ion-input formControlName="identidad" class="input" type="number" placeholder="Identidad"></ion-input>  
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>    
              <ion-item>
                <ion-icon style="color:rgb(63, 62, 62) ;" name="key" slot="start"></ion-icon>
                <ion-input formControlName="clave" class="input" type="password" placeholder="Password"></ion-input>  
              </ion-item>
            </ion-col>
          </ion-row>
                <ion-button (click)="login()" [disabled]="!formLogin.valid"type="submit" color="warning" expand="full">Ingresar</ion-button>  
        </ion-grid>
      </form>
      <hr>
  
      <p style="color: white; text-align: center; font-weight: bold;">Solicitar recuperación <br>de contraseña 
      </p>
      <ion-button type="submit" color="warning" expand="full">Ir</ion-button>
      </div>
 </ion-content>